@page "/patientedit"
@using HospitalFrontEnd.Data
@using HospitalFrontEnd.Components
@inherits PatientComponent

<h1>Edit Patient</h1>


<div style=" width: 100%; display: table;">
    <div style=" display: table-row;">
        <div style="width: 50%; display: table-cell;">
            <h3>Search Patient</h3>

            <EditForm Model="@SearchPatientForm" OnValidSubmit="Search">
                <label for="sfname">First name</label>
                <InputText id="sfname" @bind-Value="@SearchPatientForm.Patient_fName" />
                <label for="slname">Last name</label>
                <InputText id="slname" @bind-Value="@SearchPatientForm.Patient_lName" />
                <button class="btn btn-primary" type="submit">Search</button>
            </EditForm>
            @if (searchResultList != null)
            {
                <table class="table table-sm table-striped table-bordered m-2">
                    <tr><th>ID</th><th>First Name</th><th>Last Name</th><th>Date of Birth</th><th>Phone Number</th><th>Allergy</th></tr>
                    @foreach (var item in searchResultList)
                    {
                        <tr>
                            <td>@item.Patient_ID</td>
                            <td>@item.Patient_fName</td>
                            <td>@item.Patient_lName</td>
                            <td>@item.Patient_DoB</td>
                            <td>@item.Patient_PhoneNum</td>
                            <td>@item.Patient_Allergy</td>
                        </tr>
                        //<tr>next line,   <td>standard table cell
                    }
                </table>
            }


        </div>
        <div style="display: table-cell; margin-left: 10%; vertical-align:top">
            <h3>Edit Patient</h3>
            <EditForm Model="@EditPatientForm" OnValidSubmit="GetPatient">
                <label for="cid">Id</label>
                <InputNumber id="cid" @bind-Value="@PatientSearchId" />  <!--system constantly adds this in front of InputNumber "Microsoft.AspNetCore.Components.Form"-->
                <button class="btn btn-primary" type="submit">Get</button>
            </EditForm>
            @if (feedbackSearch.Length != 0)
            {
                <p>@feedbackSearch</p>
            }
            @if (displayable)
            {
                <EditForm Model="@EditPatientForm" OnValidSubmit="Update">
                    <table>
                        <tr><td><label for="fname">First Name</label></td><td><InputText id="fname" @bind-Value="EditPatientForm.Patient_fName" /></td></tr>
                        <tr><td><label for="lname">Last Name</label></td><td><InputText id="lname" @bind-Value="EditPatientForm.Patient_lName" /></td></tr>
                        <tr><td><label for="dob">DOB</label></td><td><InputDate id="dob" @bind-Value="EditPatientForm.Patient_DoB" /></td></tr>
                        <tr><td><label for="phonenumber">Phone Number</label></td><td><InputText id="phonenumber" @bind-Value="EditPatientForm.Patient_PhoneNum" /></td></tr>
                        <tr><td><label for="allergy">Allergy</label></td><td><InputText id="allergy" @bind-Value="EditPatientForm.Patient_Allergy" /></td></tr>
                    </table>
                    <button class="btn btn-primary" type="submit">Update</button>
                </EditForm>
                @if (feedbackUpdate.Length != 0)
                {
                    <p>@feedbackUpdate</p>
                }
            }

        </div>
    </div>
</div>