@page "/treatmentplanupdate"
@using HospitalFrontEnd.Data
@using HospitalFrontEnd.Components
@inherits TreatmentPlanComponent


<h1>Update treatment plan</h1>

<div style=" width: 100%; display: table;">
    <div style=" display: table-row;">
        <div style="width: 50%; display: table-cell;">
            <EditForm Model="@EditTreatmentPlanForm" OnValidSubmit="GetTreatmentPlanById">
                <table>
                    <tr><td><label for="plan_id">Plan ID</label></td><td><InputNumber id="plan_id" @bind-Value="TreatmentPlanSearchId" /></td></tr>
                    <button class="btn btn-primary" type="submit">Get</button>
                </table>

            </EditForm>

            @if (displayable)
            {
                <h3>Treatment Plan</h3>
                <table>
                    <tr><td>Created by:</td><td>@TreatmentPlanDto?.staff.Staff_fName @TreatmentPlanDto?.staff.Staff_lName (#@TreatmentPlanDto?.staff.Staff_ID)</td></tr>
                    <tr><td>Patient:</td><td>@TreatmentPlanDto?.patient.Patient_fName @TreatmentPlanDto?.patient.Patient_lName (#@TreatmentPlanDto?.patient.Patient_ID)</td></tr>
                    <tr><td>Starting date</td><td>@EditTreatmentPlanForm.Plan_Date</td></tr>
                    <tr><td>Status</td><td>@EditTreatmentPlanForm.Plan_Status</td></tr>
                    <tr><td>Comment</td><td>@EditTreatmentPlanForm.Plan_Observation</td></tr>
                </table>
                <h3>History</h3>
                <table>
                    <tr><th>Entry ID</th><th>Date</th><th>Type</th><th>Drug</th><th>Posology</th><th>Comment</th><th>link</th></tr>
                    @foreach (var entry in entryList)
                    {
                        <tr>
                            <td>@entry.Entry_ID</td>
                            <td>@entry.Last_Update</td>
                            <td>@entry.Entry_Type</td>
                            <td>@entry.Drug?.Drug_Name @entry.Drug?.Drug_Dosage</td>
                            <td>@entry.Posology</td>
                            <td>@entry.Comment</td>
                            <td>@entry.Upload_Link</td>
                        </tr>
                    }
                </table>
            }
        </div>
        <div style="display: table-cell; margin-left: 10%; vertical-align:top">
            @if (TreatmentPlanDto != null)
            {
                <h3>Prescribe</h3>
                <EditForm Model="@PrescriptionForm" OnValidSubmit="AddPrescription">
                    <table>
                        <tr><td><label>Drug Id</label></td><td><InputNumber @bind-Value="@PrescriptionForm.Drug_ID"/></td></tr>
                        <tr><td><label>Posology</label></td><td><InputText @bind-Value="@PrescriptionForm.Posology"/></td></tr>
                        <tr><td><label>Comment</label></td><td><InputText @bind-Value="@PrescriptionForm.Comment"/></td></tr>
                    </table>
                    <button class="btn btn-primary" type="submit">Add</button>
                </EditForm>
                <h3>Add test</h3>
                <EditForm Model="@ScheduleTestForm" OnValidSubmit="AddTest">
                    <table>
                    <tr><td><label>Test type</label></td><td><InputText @bind-Value="@ScheduleTestForm.EntryType" /></td></tr>
                    <tr><td><label>Comment</label></td><td><InputText @bind-Value="@ScheduleTestForm.Comment" /></td></tr>
                    </table>
                <button class="btn btn-primary" type="submit">Add</button>
                </EditForm>
                @if (feedbackUpdate.Length > 0)
                {
                    <p>@feedbackUpdate</p>
                }
            }
        </div>
        <!-- experiment with drop down
        <div class="dropdown" id="toggleDropdown">
            <button @onclick="Show" @onblur="Hide" class="button-md" type="button">
                <i data-feather="user"></i>
                <span>Personal cab</span>
            </button>
            <ul class="dropdown-list @(isActive ? "is-active" : "")">
                @if(_typeList != null)
                {
                    @foreach(var type in _typeList)
                    {
                                
                        <li class="dropdown-item">
                            <p class="text-md">@type</p>
                        </li>
                                
                    }
                }
                <li class="dropdown-item">
                    <p class="text-md">Cabinet</p>
                </li>
                <li class="dropdown-item">
                    <p class="text-md">Cabinet</p>
                </li>
            </ul>
        </div>
        -->
    </div>
</div>



@code {
    //this code load the status list to display within the form
    private List<string> _typeList;
    private bool isActive = false;

    private void Show()
    {
        isActive = true;
    }

    private void Hide()
    {
        isActive = false;
    }


    [Inject]
    private UtilService ApiService { get; set; }

    //fetch data on page load
    protected override async Task OnInitializedAsync()
    {
        _typeList = await ApiService.GetEntryTypeList();
    }

}
