@page "/staffdirectory"
@using HospitalFrontEnd.Data

<h3>Staff Directory</h3>

<table>
    @if(_staffList != null)
    {
        <tr><th>Id</th><th>Name</th><th>Grade</th><th>Phone num</th></tr>
        @foreach(var staff in _staffList)
        {
            <tr>
                <td>@staff.Staff_ID</td>
                <td>@staff.Staff_fName @staff.Staff_lName</td>
                <td>@staff.Staff_Grade</td>
                <td>@staff.Staff_PhoneNum</td>
            </tr>
        }
    }
</table>


@code {
    private List<StaffDto> _staffList;


    [Inject]
    private StaffService ApiService { get; set; }

    //fetch data on page load
    protected override async Task OnInitializedAsync()
    {
        _staffList = await ApiService.GetStaffList();
    }
}
